{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
    <form action="" method='POST'>
        {% csrf_token %}
        <h4>Login Form</h4>
        <br>

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Enter username">
          </div>

          <div class="mb-3">
            <label  class="form-label">Password</label>
            <input type="password" name="password" class="form-control"  placeholder="Enter Password">
          </div>
          
          <button class ="btn btn-primary">Login</button>
    </form>

{% endblock content %}
    