{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="pro-container">

    <div class="pro-info">
        <div class="pro-pic">
            <img src="{{profile.profile_pic.url}}" alt="">
        </div>
        <h4>{{profile.first_name}} {{profile.last_name}}</h4>
        <p>@{{profile.username}}</p>
        <div class="bio">
            <p>{{profile.bio}}</p>
        </div>
    </div>

    <div class="pro-blog">
        <div class="pro-blog-heading">Your Blogs</div>
        <div class="all-blogs">

            {% for blog in blogs %}
            
            <div class="blog-container">

                <a href="{% url 'post:update' blog.slug %}">
                    <div class="edit-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                    </div>
                </a>

                
                <div class="blog-thumbnail">
                    <img src="{{blog.image.url}}" alt="">
                </div>
                <p class="blog-title">{{blog.title}}</p>
                <div class="action-btn">
                    <a href="{% url 'post:detail' blog.slug %}"> <button class="btn btn-primary">Read more</button></a>
               

                <a href="{% url 'post:delete' blog.slug %}">
                    <div class="del-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                          </svg>
                    </div>
                </a>
              
                </div>
                
            </div>


            {% endfor %}

            

        </div>
    </div>


</div>
    
{% endblock content %}
    